version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "8080:8080"
    environment:
      - PORT=8080

  client:
    build: ./client
    ports:
      - "5173:80"
    environment:
      - VITE_SOCKET_URL=http://localhost:8080
    depends_on:
      - server
